/build/
.settings/com.google.cloud.tools.eclipse.appengine.deploy.prefs
/target/
.settings/
.classpath
.project
/bin/
sherlock-collect/target/
sherlock-ear/target/
sherlock-collect2/target/
sherlock-ui/target/
war/
/.apt_generated/
